@import url("./reusable.css");

/* ANNOUCE */
.annouce {
  background-color: var(--bg-annouce);
  height: var(--annouce-height);
}

.annouce-text {
  color: var(--text-annouce);
  font-size: var(--normal-font-size);
}

.annouce-text:hover {
  opacity: 0.8;
}

/* HEADER */
.header-section {
  background-color: var(--bg-header);
  padding-bottom: 92px;
}

/* NAV */
.nav {
  padding-top: 0.8rem;
  color: var(--white);
}

.nav__icon {
  color: var(--white);
  cursor: pointer;
}

.nav__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2rem;
  color: var(--white);
}

.nav__item .nav__link {
  position: relative;
  color: currentColor;
  font-size: var(--normal-font-size);
}

.nav__item .nav__link::before {
  content: "";
  display: block;
  position: absolute;
  color: var(--white);
  bottom: -50%;
  height: 2px;
  background-color: var(--white);
}

.nav__link.active::before {
  left: 0.5rem;
  width: 0.5rem;
}

.no__active::before {
  visibility: hidden;
  left: 2rem;
  width: 0.3rem;
  transition: right linear 1s;
}

.nav__link.no__active:hover {
  opacity: 0.8;
}

.nav__link:hover.no__active::before {
  visibility: visible;
}

.nav__right {
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav__right-list {
  padding-left: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.nav__right-list .nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  padding: 0.5rem;
  cursor: pointer;
}

.nav__right-list .nav__item:hover {
  background-color: var(--bg-hover);
}

.nav__right-list .nav__item:nth-child(1) {
  border-radius: 2rem;
}

.nav__right-list .nav__item:nth-child(2) {
  border-radius: 50%;
  width: 42px;
}

.nav__right-list .nav__item:nth-child(3) {
  border-radius: 2rem;
  color: var(--bg-annouce);
  background-color: var(--white);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
}

.nav__link {
  text-decoration: none;
  font-size: var(--normal-font-size);
  color: #717171;
  font-weight: var(--font-medium);
}

.nav__options {
  display: inline-flex;
  align-items: center;
  column-gap: 8px;
}
.nav__options-icon:last-child {
  height: 30px;
  width: 30px;
}

.nav__owner {
  font-size: var(--small-font-size);
}

.options__dropdown {
  position: relative;
}

.options__list {
  display: none;
  position: absolute;
  top: calc(100% + 1rem);
  right: -0.5rem;
  z-index: 10;
  width: 240px;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
}

.options_item {
  width: 100%;
  display: flex;
  align-items: center;
  height: 48px;
  font-size: var(--normal-font-size);
  padding:  0 1rem;
}

.options_item:hover {
  background-color: var(--btn-hover);
}

.options__register .options_item:first-child {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.options__select .options_item:last-child {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.options .active{
  color: #000;
  font-weight:var(--font-medium);
}

.options_item > a {
  text-decoration: none;
  color: currentColor;
}

.options__register::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  left: 0;
  height: 1px;
  background-color: var(--btn-hover);
}

/* SEARCH */
.search-container {
  margin-top: var(--mb-1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  /* position: fixed; */
  display: inline-flex;
  align-items: center;
  color: var(--bg-annouce);
  background-color: var(--white);
  height: var(--search-height);
  max-width: 853px;
  margin-bottom: var(--mb-2);
  border-radius: 3rem;
}

.locations {
  position: relative;
  padding: 13px 93px 13px 26px;
}

.locations__dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 500px;
  height: 150px;
  padding: 1rem 2rem;
  margin-top: var(--mb-1);
  border-radius: 2rem;
  background-color: var(--white);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.locations:focus-within .locations__dropdown {
  display: block;
}

.locations__dropdown > h5 {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-semi-bold);
}

.locations__btn {
  width: 100%;
  border-radius: 3rem;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
  text-align: left;
  padding: 0.5rem 1rem;
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  background: -webkit-linear-gradient(
    #460479 35%,
    #440589 52.5%,
    #e31c5f 100%,
    #d70466 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.locations__icon {
  font-size: 2.5rem;
  font-weight: 300;
}

.locations__btn:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.search__item:hover {
  background-color: #ebebeb;
  border-radius: 3rem;
  cursor: pointer;
}

.check-in,
.check-out,
.visitor {
  position: relative;
  min-width: 178px;
  padding: 12px 0 12px 26px;
}

.check-in::before,
.check-out::before,
.visitor::before {
  display: block;
  content: "";
  border-left: 1px solid #ccc;
  height: 2rem;
  position: absolute;
  top: 25%;
  left: 0;
}

.visitor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 4rem;
  padding: 8px 8px 8px 26px;
}

.visitor__info {
  display: flex;
  flex-direction: column;
}

.visitors {
  position: relative;
}

.visitors__list {
  display: none;
  position: absolute;
  width: 410px;
  top: calc(100% + 1rem);
  right: 0;
  background-color: var(--white);
  border-radius: 2rem;
  padding: 1rem 2rem 0 2rem;
}

.visitor__item-last,
.visitor__item {
  position: relative;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--mb-1);
}

.visitor__item + .visitor__item {
  margin-top: var(--mb-1);
}

.visitor__item + .visitor__item::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -26%;
  height: 1px;
  width: 100%;
  background-color: var(--btn-hover);
}

.visitor__text {
  display: flex;
  flex-direction: column;
}

.visitor__name {
  color: var(--bg-header);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.visitor__desc {
  width: 100%;
  font-size: var(--small-font-size);  
  font-weight: 300;
  color: var(--text-lighter);
}

.visitor__desc > a {
  color: #000;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.visitor__quantity {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-left: 1rem;
}

.quantity__button {
  font-size: 1rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--text-annouce);
  outline: none;
}

.quantity__button:hover {
  border-color: var(--bg-header);
}

.quantity__button.sub {
  cursor: not-allowed;
  opacity: .3;
}

.quantity__button.sub:hover {
  border-color: var(--text-annouce);
}

.quantity__number {

}


.search__text {
  color: var(--bg-annouce);
  font-weight: var(--font-semi-bold);
  font-size: var(--small-font-size);
}

.search__desc {
  font-size: var(--smaller-font-size);
  color: var(--text-lighter);
}

.input__location {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: var(--smaller-font-size);
  color: var(--text-lighter);
}

.btn__search {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: linear-gradient(to right, #e61e4d 0%, #e31c5f 50%, #d70466 100%);
}

.btn__search > span {
  display: none;
}

.btn__search.active {
  display: flex;
  width: 130px;
  height: 48px;
  align-items: center;
  column-gap: .5rem;
  border-radius: 2rem;
}

.btn__search.active > span {
  display: inline;
}

.header-content {
  width: 100%;
  background-image: url("/img/header.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode: darken;
  border-radius: 1rem;
  height: 679px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.header-content > div {
  margin-bottom: var(--mb-3);
}

.content__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: var(--white);
  font-weight: var(--font-medium);
  letter-spacing: 0.2rem;
  line-height: 3rem;
  margin-bottom: var(--mb-1);
}

.content__title .content__text {
  line-height: 1.2;
  text-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.18);
}

.header-btn {
  display: block;
  margin: auto;
  width: 219px;
  height: 52px;
  border-radius: 3rem;
  background-color: var(--white);
  font-size: var(--h3-font-size);
  cursor: pointer;
}

.header-btn:focus {
  transform: scale(0.9);
}

.header-btn > span {
  background: -webkit-linear-gradient(
    #460479 35%,
    #440589 52.5%,
    #e31c5f 100%,
    #d70466 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* CONTENT SECTION  */
.section {
  margin: 60px 0 100px 0;
}

.section__title > h2 {
  font-size: var(--big-font-size);
  font-weight: var(--font-medium);
}

.section__title {
  margin-bottom: 60px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
}

.location__img {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.location__info {
  display: flex;
  flex-direction: column;
  color: var(--white);
  height: 166px;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 1rem;
}

.location__info.hcm {
  background-color: #cc2d4a;
}

.location__info.cantho {
  background-color: #de3151;
}

.location__info.nhatrang {
  background-color: #bc1a6e;
}

.location__info.vungtau {
  background-color: #d93b30;
}

.location__name {
  font-size: var(--h2-font-size);
  line-height: var(--h2-font-size);
  font-weight: var(--font-medium);
}

.location__distance {
  font-size: var(--normal-font-size);
  padding-top: 0.5rem;
  font-weight: 300;
}

/* DISCOVERY */
.discovery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.5rem;
}

.discovery__content {
  height: 762px;
  border-radius: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.discovery__content.outside {
  background-image: url("/img/discovery_1_960x.jpg");
}

.discovery__content.inside {
  background-image: url("/img/discovery_2_960x.jpg");
}

.discovery__info {
  display: flex;
  flex-direction: column;
  padding: 80px;
  color: var(--white);
  max-width: 500px;
}

.discovery__info > span {
  font-size: var(--bigger-font-size);
  line-height: 1.3;
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.discovery__btn {
  padding: 0.5rem 1rem;
  width: fit-content;
  border-radius: 0.5rem;
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  letter-spacing: 1.2;
  background-color: var(--white);
}

.discovery__btn:hover {
  background-color: var(--btn-hover);
}

/* QUESTIONS */

.questions {
  background-image: url("https://i.likibu.com/destinations/pays-bas/the-hague-cover-mobile.jpg");
}

/* FOOTER */
.footer {
  margin-bottom: 0;
  background-color: #f7f7f7;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 50px 0;
}

.footer__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-5);
}

.footer__item {
  padding: var(--mb-0-5) 0;
  font-size: var(--small-font-size);
  color: #000;
  max-width: 300px;
  line-height: 1.2;
}

.footer__link {
  color: currentColor;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: 1.2;
}

.footer__link:hover {
  text-decoration: underline;
}

.copy-right {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1.2;
  padding: var(--mb-2) 0;
}

.copy-right:before {
  content: "";
  display: inline;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-top: 2px solid var(--btn-hover);
}

.policies__list,
.copy__policies,
.copy-right__list {
  display: flex;
}

.copy-right__list,
.copy__policies {
  font-size: var(--normal-font-size);
  color: var(--bg-annouce);
  font-weight: 300;
  column-gap: 0.5rem;
}

.policies__list {
  position: relative;
  column-gap: inherit;
}

.policies__item {
  color: currentColor;
}

.policies__desc:hover {
  text-decoration: underline;
}

.policies__icon {
  position: absolute;
  font-size: 0.2rem;
  color: currentColor;
  top: 40%;
}

.copy-right__list {
  column-gap: 1rem;
}

.copy-right__link {
  color: currentColor;
  font-weight: var(--font-medium);
}

.globe__icon {
  font-size: 1rem;
  padding-right: 0.5rem;
}

.socials {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  padding-left: 1.5rem;
}

.socials__icon {
  font-size: 1.2rem;
}
